$body-bg: #171C24;
$dark-main-text: #FFFFFFB2;
$dark-border-color: #484F58;
$dark-main-bg: #001733;
$dark-active-color: #2499EF;
$dark-white: #FFFFFFD9;
$dark-action-btn-bg: #2E3742;
$dark-svg-stroke: #FFF;


$dark-main-grid-row-color: #2D3845;
$header-color: #013576;
$sub-header-color: #ADD2FFCC;
$dark-label: #FFFFFFB2;
$blue-75: rgba(173, 210, 255, 0.75);
$blue-70: rgba(173, 210, 255, 0.70);
$modal-close: #CCD7E4B2;
$gray: #808080B2;
$gray-80: #738499CC;
$sub-header-color-alt: #CCDBDCB2;
$main-grid-even-row-color: #738499;
$modal-bg: #222B36;
